body{
    background-color: #FFF6E8 !important;
    font-family: 'Montserrat';
    text-align: center;
    color: #628E90;
}
  .hi{
    font-family: 'Montserrat';
    color: #628E90;
    font-weight: 1000;
    font-size: 30px;
    margin-top: 5%;
  }
.look{
    font-family: 'Montserrat';
    color: #628E90;
    font-weight: 1000;
    font-size: 20px;
}
.search{

    color: #606161;
    font-family: 'Montserrat';
    font-size: 18px;
    padding: 0.2%;
    background-color: white;
    border: solid #628E90;
    width: 25vw;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.recommended-book{
    background-color: white;
}