.sh{
    font-family: 'Rammetto One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: #3C2317;
    text-align: left;
    margin: 0;
    display: inline-block;
    margin-top:2%;
    margin-left: 2%;
    margin-bottom: 2%;
}
body{
    text-align: left;
}
.info{
    margin-left: 12%;
    margin-bottom: 2%;
}
input[type="email"], input[type="password"], input[type="text"]{
    font-family: 'Montserrat';
    height: 25px;
    border: 2px solid #628E90;
    width: 457px;
    height: 32px;
    border-radius: 50px;
    display: flex;
    /* align-items: left;
    justify-content: left; */
    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.nameS, .passwordS, .emailS{
    /* position: absolute; */
    margin-left: 1%;
    font-size: 18px;
    color: #628E90;
    font-weight: 700;
}
.li1{
    position: absolute;
    border-radius: 0%;
    width: 40%;
    height: 110%;
    right: 0%;
    /* left: 70%; */
    top: 0px;
}
.signup{
    /* margin-top: 3%; */
    margin-top: 0%;
}
.back{
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
    text-decoration: none;
}
.su{
    display: inline-block;
    font-weight: bold;
    margin-left: 21%;
    font-size: 25px;
}
.signup-container{
    margin-top: 1%;
}
/* @media (max-width:1100px) {
    .signup-container{
        margin-top: 10%;
        display: flex;
        justify-content: center;
        
    }
    .li1{
        display: none;
    }
    .su{
        text-align: center;
    }
    input{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media (max-width: 600px) {
    .li1{
        display: none;
    }
    .su{
        display: none;
    }
} */
/* @media only screen and (max-width: 400) {
    .su{
        display: none;
    }
    .li1{
        display: none;
    }
} */