.sh{
    text-align: left;
    margin-top:2%;
    margin-left: 2%;
    margin-bottom: 2%;
}
body{
    text-align: left;
}
.info{
    margin-left: 12%;
    margin-bottom: 2%;
}
input[type="email"], input[type="password"], input[type="text"]{
    font-family: 'Montserrat';
    height: 25px;
    border: 2px solid #628E90;
    width: 457px;
    height: 32px;
    border-radius: 50px;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.nameS, .passwordS, .emailS{
    position: absolute;
    left: 12%;
    font-size: 18px;
    color: #628E90;
    font-weight: 700;
}
.li1{
    position: absolute;
    border-radius: 0%;
    width: 40%;
    height: 100%;
    right: 0%;
    /* left: 70%; */
    top: 0px;
}
.signup{
    /* margin-top: 3%; */
    margin-top: 0%;
}
.back{
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
    text-decoration: none;
}